.legendActivity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-right: 52px;
  margin-left: 20px;
}
.containerBarChart {
  background-color: #fbfbfb;
}
.containerBarChart svg {
  background-color: #fbfbfb;
}
