.containerCards {
  width: 258px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.cards {
  background-color: #fbfbfb;
  height: 124px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.energy {
  background-color: #fd51811a;
  padding: 25px;
  margin-right: 10px;
  border-radius: 10px;
}
