.mainContainerChart {
  margin: 140px 90px 88px 210px;
  min-height: 100vh;
}
.titleUser {
  padding: 10px;
  margin-bottom: 30px;
}

.containerDashboard {
  display: flex;
  gap: 30px;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 75%;
}
.cardsGraphic {
  display: flex;
  margin-top: 30px;
}
