.mainContainerChart {
  margin: 140px 90px 88px 210px;
  min-height: 100vh;
}
.titleUser {
  padding: 10px;
  margin-bottom: 30px;
}
.titleUser h1 {
  margin-bottom: 20px;
  font-size: 48px;
}
.titleUser h1 span {
  color: red;
}
.titleUser p {
  font-size: 24px;
}
.containerDashboard {
  display: flex;
  gap: 30px;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 75%;
}
.cardsGraphic {
  display: flex;
  margin: 0;
  gap: 15px;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f0f0f0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

@media (max-width: 1440px) {
  .cardsGraphic {
    display: block;
  }
  .leftContainer {
    width: 100%;
  }
  .containerDashboard {
    display: block;
  }
}
