.containerLineChart {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: red;
  border-radius: 5px;
  height: 263px;
  width: 100%;
  opacity: 0.9;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.custom-line:before {
  content: "";
  width: 30%;
  height: 100%;
  background-color: black;
  opacity: 0.1;
  position: absolute;
  right: 0;
}

.title {
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 15px;
  max-width: 200px;
  line-height: 24px;
  opacity: 0.5;
}

.legend {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: red;
  color: white;
}

.legend p {
  margin: 0;
}
.custom-tooltip {
  background-color: white;
  width: 50px;
  text-align: center;
}
@media (max-width: 1440px) {
  .containerLineChart {
    margin-bottom: 20px;
  }
}
