.pieChartContainer {
  width: 100%;
  height: 263px;
  position: relative;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.scoreLabel {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #20253a;
  z-index: 1;
}

.centerText {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  z-index: 1;
}

.percentageText {
  font-size: 26px;
  font-weight: 500;
  color: #20253a;
}

.objectiveText {
  font-size: 16px;
  color: #74798c;
  width: 110px;
}

.RadialBarChart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
