.pieChartContainer {
  width: 100%;
  height: 250px;
  position: relative;
  background-color: #fbfbfb;
}

.scoreLabel {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #20253a;
}

.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.percentageText {
  font-size: 26px;
  font-weight: 500;
  color: #20253a;
}

.objectiveText {
  font-size: 16px;
  color: #74798c;
}
