.containerRadar {
  background-color: #282d30;
  width: 100%;
  height: 263px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1440px) {
  .containerRadar {
    margin-bottom: 20px;
  }
}
