.sidebar {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  width: 117px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.sidebar img {
  display: block;
}

.paragraphe {
  color: white;
  font-size: 12px;
  position: absolute;
  transform: rotate(270deg);
  transform-origin: left top;
  left: 45%;
  bottom: 2%;
  white-space: nowrap;
}
